@model CRMApp.ViewModels.ActivityLogViewModel;
@{
	ViewData["Title"] = "AdminDashboard";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="d-flex justify-content-center ">
	<div class="flex-column" style="width: 100%;">
		<div class="d-grid">
			<div class="row d-flex justify-content-between ms-0">
				<div class="col-2" style="width: 61em; margin-left:-2rem;">
					<div class="card shadow-sm">
						<h3 class="text-center mt-2">Overview</h3>
						<div class="card-body">
							<div class="d-grid">
								<div class="row d-inline-flex justify-content-center gap-5">
									<div class="col-sm-3" style="width: 15rem;">
										<div class="card" style="background: lightgrey;" id="user-tile">
											<div class="card-body">
												<h4 class="text-center">Total Users </h4>
												<p class="text-center fw-bold h5">@ViewBag.UserCount</p>
											</div>
										</div>
									</div>


									<div class="col-sm-3" style="width: 15rem;">
										<div class="card" style="background: lightgrey;" id="customer-tile">
											<div class="card-body">
												<h4 class="text-center">Total Customers </h4>
												<p class="text-center fw-bold h5">@ViewBag.CustomerCount</p>
											</div>
										</div>
									</div>
									<div class="col-sm-3 me-1" style="width: 15rem;">
										<div class="card" style="background: lightgrey;" id="contact-tile">
											<div class="card-body">
												<h4 class="text-center">Total Contacts </h4>
												<p class="text-center fw-bold h5">@ViewBag.ContactCount</p>
											</div>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
					<div class="card shadow-sm mt-4 d-flex justify-content-center">
						<h3 class="text-center mt-3 mb-3 message">Enquiries</h3>
						<div class="row gap-2 mb-3 justify-content-center">
							@foreach(var item in Model.contactInquiries){
								
								
									<div class="card col-3 Enquiry-tile" style="width: 16rem;" data-email="@item.Email" data-name="@item.Name" data-timeStamp="@item.CreatedAt" data-EnquiryMessage="@item.Message" data-bs-toggle="modal" data-bs-target="#detailModal">
										<span class="message-text mt-3"><span class="fw-bold">Name:</span> @item.Name</span>
										<span class="message-text"><span class="fw-bold">Email:</span> @item.Email</span>
										<span class="message-text mb-3"><span class="fw-bold">Date:</span> @Model.FormatDate(item.CreatedAt) at @item.CreatedAt.ToString("h:mm tt") </span>
									</div>
								
							}
						</div> 
						<a class="text-end me-4 mb-3 text-decoration-none text-dark " asp-action="Index" asp-controller="ContactInquiry">
							View all
							<i class="bi bi-arrow-right"></i>
						</a>
					</div>
				</div>
				<div class="col-2" style="width:23em;margin-right: -1rem;">
					<div class="card shadow-sm" style="overflow-y: auto; height: 600px;">
						<h3 class="text-center mt-2">
							Activity Feed
						</h3>
						@if (Model.activityLogs.Count == 0)
						{
							<p class="text-center fw-light mt-5">No Activity To Show</p>
						}
						else
						{
							@foreach (var item in Model.activityLogs)
							{

								<div class="container mt-1 mb-1">
									<div class="card shadow-sm">
										<div class="card-header d-inline-flex justify-content-between">
											<span class="fw-bold">@item.ModuleId</span>
										</div>
										<div class="card-body">
											@if ((bool)item.IsDeleted)
											{
												<span class="text-danger">@item.Action  </span>  <span class="fst-italic text-end text-danger">On @Model.FormatDate(item.TimeStamp) at @item.TimeStamp.ToString("h:mm tt")</span>
											}
											else
											{
												<span class="text-success">@item.Action </span> <span class="fst-italic text-end text-success">On @Model.FormatDate(item.TimeStamp) at @item.TimeStamp.ToString("h:mm tt")</span>
											}
										</div>

									</div>
								</div>
							}
						}

					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<div class="modal fade" tabindex="-1" id="detailModal" aria-hidden="true" style="z-index: 100000;">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Enquiry Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<span class="fw-bold">Name: </span><span id="name"></span><br />
				<span class="fw-bold">Email: </span><span id="email"></span><br />
				<span class="fw-bold">TimeStamp: </span><span id="timeStamp"></span><br />
				<span class="fw-bold">Message: </span><span id="EnquiryMessage"></span>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				
			</div>
		</div>
	</div>
</div>


@section Scripts {
	
	<script>
		$("#customer-tile").click(function () {
			window.location.href = "/Customer/Index"
		})

		$("#contact-tile").click(function() {
			window.location.href = "/Contact/Index"
		})

		$("#user-tile").click(function(){
			window.location.href = "/User/Index"
		})
		$(document).ready(function(){
			$("card").css("background-color", "#ecf0f1")
			$("#customer-tile").css("background-color","#2c3e50")
			$("#user-tile").css("background-color","#2c3e50")
			$("#contact-tile").css("background-color","#2c3e50")
			$("h4").addClass("text-light")
			$("p").addClass("text-light")
			$(".message-text").addClass("text-light")
			$(".message").removeClass("text-light")
			$(".Enquiry-tile").css("background-color", "#2c3e50")

			var myModal = $("#detailModal")

			$(".Enquiry-tile").on('click',function(){
				var name = $(this).data("name");
				var email = $(this).data("email");
				var timeStamp = $(this).data("timestamp");
				var message = $(this).data("enquirymessage");

				$('#name').text(name)
				$('#email').text(email)
				$('#timeStamp').text(timeStamp)
				$('#EnquiryMessage').text(message).css('white-space', 'pre-line')
				
				myModal.show();
			})
		})
	</script>
}
