@model CRMApp.ViewModels.UserViewModel;

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1 class="text-center">User List</h1>
<hr />
<div>
	<form asp-action="Index" asp-controller="User" method="post">
		<div class="d-flex mb-4 mt-2 gap-1">
			<select asp-for="UserFilter" asp-items="Html.GetEnumSelectList<CRMApp.ViewModels.UserFilter>()" class="form-control" style="width: 8%;"></select>
			<input asp-for="UserInput" placeholder="Search Bar.." class="form-control" />
			<button type="submit" class="btn btn-outline-primary">Search</button>
		</div>
	</form>
</div>
<table class="table table-bordered table-striped table-dark table-hover">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.User.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.User.Email)
			</th>


			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Users)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>

				<td class="d-flex justify-content-center gap-2 ps-0 pe-0">
					<button type="button" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-user-id="@item.Id" data-user-name="@item.UserName" class="btn btn-outline-danger">Delete</button>
				</td>
			</tr>
		}
	</tbody>
</table>





<div class="modal fade " id="confirmDeleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true" aria-modal="true" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-action="DeleteUser" asp-controller="User" method="post">
				<input type="hidden" name="id" id="deleteUserId" />
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
					<a href="" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
				</div>
				<div class="modal-body">
					Are you sure you want to delete <strong id="deleteUserName"></strong>?
				</div>
				<div class="modal-footer">
					<a href="" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
					<button type="submit" class="btn btn-danger">Delete</button>
				</div>
			</form>
		</div>
	</div>
</div>



@section Scripts {
	<script>
		$("#confirmDeleteModal").on('show.bs.modal', function (e) {
			var button = $(e.relatedTarget);
			var userId = button.data('user-id');
			var userName = button.data("user-name");

			$("#deleteUserId").val(userId);
			$("#deleteUserName").text(userName);
		})
	</script>
}